
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
* {
  margin: 0;
  padding: 0;
}

div h1 {
  text-align: center;
  
  
}

.efecto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0 30px;
}
.efecto .thumbex {
  margin: 10px 20px 30px;
  width: 100%;
  min-width: 250px;
  max-width: 435px;
  height: 300px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  outline: 2px solid white;
  outline-offset: -15px;

}
.efecto .thumbex .thumbnail {
  overflow: hidden;
  min-width: 250px;
  height: 300px;
  position: relative;
  opacity: 0.88;
  backface-visibility: hidden;
  transition: all 0.4s ease-out;
}
.efecto .thumbex .thumbnail img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  height: 115%;
  width: auto;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.efecto .thumbex .thumbnail span {
  position: absolute;
  z-index: 2;
  top: calc(150px - 20px);
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 50px;
  margin: 0 45px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-out;
}
.efecto .thumbex .thumbnail:hover {
  backface-visibility: hidden;
  transform: scale(1.15, 1.15);
  opacity: 1;
}
.efecto .thumbex .thumbnail:hover span {
  opacity: 0;
}



.seccion {
	width: 60%;
  margin: auto;
  padding: auto;
}

.galeria {
	margin-top: 40px;
  margin-bottom: 40px;
}

.galeria ul li,  .galeria li img {
	-webkit-transition: all 1s cubic-bezier(.42,.2,.2,.64);
  	-moz-transition: all 1s cubic-bezier(.42,.2,.2,.64);
  	-o-transition: all 1s cubic-bezier(.42,.2,.2,.64);
  	transition: all 1s cubic-bezier(.42,.2,.2,.64);
}

.galeria ul li {
	position: relative;
	float: left;
	width: 140px;
	height: 140px;
	margin: 5px;
	padding: 5px;
  list-style-type: none;
}

.galeria ul li:hover {
	z-index: 99;
}

.galeria ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #004273;
	width: 140px;
	height: 140px;
  border-radius: 75px;
}

.galeria ul li img:hover {
	width: 280px;
	height: 280px;
	margin-top: -150px;
	margin-left: -150px;
	top: 50%;
	left: 50%;

  border-radius: 40px;
}
