<div class="container">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h3>Ofrecemos</h3>
      <p>
        Ofrecemos diferentes formas de pago, efectivo, tarjetas de crédito y
        debito, también contamos con empleados capacitados para así brindar el
        mejor servicio.
      </p>
      <p>
        Te acompañaremos como desde hace 40 Años y seguir llevando hasta sus
        pies el mejor calzado. Mas de 40 años de experiencia nos respaldan
      </p>
    </div>
  </div>
</div>

<div class="container-fluid text-center my-5">
  <h3 >"Calzado para toda la familia"</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <figure class="snip1325">
        <a href="#"
          ><img
            src="../../../assets/imagenes/calzado-hombre.jpg"
            alt="ls-sample7"
        /></a>
      </figure>
    </div>
    <div class="col">
      <figure class="snip1325">
        <a href="#"
          ><img src="../../../assets/imagenes/calzado-niño.jpg" alt="ls-sample6"
        /></a>
      </figure>
    </div>
    <div class="col">
      <figure class="snip1325">
        <a href="#"
          ><img
            src="../../../assets/imagenes/calzado-mujer.jpg"
            alt="ls-sample4"
        /></a>
      </figure>
    </div>
  </div>
</div>
