<div class="row">
  <div class="col-12 text-center my-5">
    <h3>Bienvenidos</h3>
    <p>
      Te acompañamos desde hace 40 Años y seguiremos llevando hasta tus pies el
      mejor calzado. Mas de 40 años de experiencia nos respaldan.
    </p>
  </div>
</div>

<div>
  <h1>"Calzado para toda la familia"</h1>
</div>
<div class="container-fluid">
  <div class="efecto">
    <div class="thumbex">
      <div class="thumbnail">
        <img src="../../../assets/imagenes/calzado-hombre.jpg" /><span
          >Hombres</span
        >
      </div>
    </div>
    <div class="thumbex">
      <div class="thumbnail">
        <img src="../../../assets/imagenes/calzado-niño.jpg" /><span
          >Niños</span
        >
      </div>
    </div>
    <div class="thumbex">
      <div class="thumbnail">
        <img src="../../../assets/imagenes/calzado-mujer.jpg" /><span
          >Mujeres</span
        >
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row text-center">
<div class="seccion">
  <div class="galeria">
    <ul>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-1.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-2.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-3.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-4.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-5.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-6.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-7.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-8.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-9.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-10.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-11.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-12.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-13.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-14.jpg" alt="Image Responsive"></li>
      <li><img src="../../../assets/imagenes/zapateriafotos/zap-15.jpg" alt="Image Responsive"></li>
    </ul>
 </div>
</div>
</div>
</div>

<div class="col-12 text-center my-5">
  <p>
    Ofrecemos diferentes formas de pago, efectivo, tarjetas de crédito y debito,
    también contamos con empleados capacitados para así brindar el mejor
    servicio.
  </p>
</div>
