<div class="text-center">
  <div>
    <img
      src="../../../assets/imagenes/logo 2.png"
      class="mt-5 img-fluid image"
      alt=""
    />
  </div>
  <div class="mt-1-sm mt-md-3 mt-lg-5 text-center">
    <h1 class="textTitle">EN CONSTRUCCIÓN</h1>
    <p class="parrafo mt-4">EL SITIO ESTARÁ LISTO PRONTO</p>
    <div class="bar">
      <div class="progress" style="height: 30px;">
        <div
          id="progressBar"
          class="progress-bar inicio animacion"
          role="progressbar"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <p class="parrafo">{{ timer }}%</p>
  </div>
  <div class="boxIcons my-5">
    <a
      href="https://www.facebook.com/OficialZapateriaLupitaIxtapaluca/"
      title="Facebook"
      target="_blank"
      ><div class="text-center icons mx-3">
        <i class="fab fa-facebook-f"></i></div
    ></a>
    <a
      href="https://www.instagram.com/zapaterialupita_oficial/"
      title="Instagram"
      target="_blank"
      ><div class="text-center icons mx-3"><i class="fab fa-instagram"></i></div
    ></a>
  </div>
</div>
