<footer class="colorfooter">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 col-lg-3">
        <h5>Direccion</h5>
        <p>
          Zapatería "Lupita", Avenida Cuauhtémoc, Santa Barbara, Ixtapaluca,
          Estado de México.
        </p>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <h5>Contacto</h5>
        <label for=""
          >Telefono: <br />
          (55) 8837 7478</label
        >
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <h5>Horario</h5>
        <p>
          Abrimos de <br />
          10:30 - 20:30 Hrs.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h5>Redes sociales</h5>
        <a
          href="https://www.facebook.com/OficialZapateriaLupitaIxtapaluca/"
          class="logo-social"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.facebook.com/OficialZapateriaLupitaIxtapaluca/"
          class="logo-social"
          target="_blank"
        >
          <i class="fab fa-instagram"> </i>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-2">
        &copy; Copyright <span>{{ fecha }} </span>
        | Desarrollado por
        <a href="https://jb-developers.com/" class="link" target="_blank">
          <span class="font-weight-bold">JBDEVELOPERS</span></a
        >
      </div>
    </div>
  </div>
</footer>
