<nav class="navbar navbar-expand-lg navbar-dark menu d-none">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/imagenes/logo3.png" class="logo1" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid menu">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-4 text-center d-none d-md-block">
        <label class="text" for="">Desde 1980</label>
      </div>
      <div class="col-12 col-md-4 text-center">
        <a class="" [routerLink]="['/']">
          <img src="../../../assets/imagenes/logo3.png" class="logo" alt="" />
        </a>
      </div>
      <div class="col-4 text-center d-none d-md-block">
        <label class="text" for="">Brindando calidad a sus pies</label>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center menu2">
    <div class="col-12 col-md-8 text-center">
      <ul class="menu2">
        <li class="" routerLinkActive="active">
          <a class="" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="" routerLinkActive="active">
          <a class="" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="" routerLinkActive="active">
          <a class="" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</div>
