<div class="container-fluid">
  <div class="row">
    <img src="../../../assets/imagenes/frente.jpg" class="image" alt="" />
  </div>
</div>

<div class="container">
  <!-- <div class="row my-5">
    <div class="col-12 text-center">
      <h1>Nosotros</h1>
    </div>
  </div> -->
  <div class="row my-5">
    <div class="col-12 text-center">
      <h3>Nosotros</h3>
      <p>
        <span class="font-weight-bold">Zapateria Lupita, </span>es un negocio
        establecido en el mercado, desde hace más de 40 años brindando calidad a
        sus pies para toda la familia, le invitamos a conocer nuestra línea de
        productos, estamos seguros de que encontrará un modelo adecuado a sus
        necesidades.
      </p>
      <p>
        Por ello nuestro interés de ampliar el mercado es ser reconocidos en más
        municipios y conozcan la calidad y la gran variedad de modelos que
        tenemos para todas las edades.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center justify-content-center">
    <div class="col- auto caption-style-4 m-2">
      <div class="li">
        <img src="../../../assets/imagenes/calidad.jpg" alt="" />
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Calidad</h1>
            <p>La mejor calidad y confort para tus pies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col- auto caption-style-4 m-2">
      <div class="li">
        <img src="../../../assets/imagenes/confort.jpeg" alt="" />
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Comodidad</h1>
            <p>Comodidad en cada paso que das.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col- auto caption-style-4 m-2">
      <div class="li">
        <img src="../../../assets/imagenes/estilos.jpg" alt="" />
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Estilo</h1>
            <p>Los mejores estilos los encontraras con nosotros</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col- auto caption-style-4 m-2">
      <div class="li">
        <img src="../../../assets/imagenes/marks.jpg" alt="" />
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Marcas</h1>
            <p>Tenemos las mejores marcas del mercado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h3>Nuestra Misión</h3>
      <p>
        Crear una relación con el cliente de confianza, brindando la mejor
        calidad en pieles y marcas para damas, caballeros o para toda la familia
        a precios accesibles.
      </p>
    </div>
  </div>
</div>
