<!-- FORMAS DE PAGO -->



<div class= "container my-5">
  <div class="row">
  
    <div class= "col-md-12 col-sm-6 descuento" >
    <div class= "col-md-8" >
      <h1>METODOS DE PAGO</h1>
      <p>Aceptamos Todas las tarjetas, EXCEPTO American Express</p>
  
      <P><strong> Efectivo </strong></P>
      <img src="../../../assets/imagenes/visa.png"  alt="Image Responsive">

      <P><strong> Tarjetas de crédito y débito </strong></P>
      <img src="../../../assets/imagenes/visa.png" class="img-fluid" alt="Image Responsive">
      <img src="../../../assets/imagenes/mastercad.jpg" class="img-fluid"  alt="Image Responsive">

     
</div>
    </div>
  </div>
</div>