<div class="container-fluid text-center my-5">
  <h1 class="display-4 border-top border-bottom border-dark">
    "Tenemos las mejores marcas"
  </h1>
</div>
<div class="container-fluid">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-flexi.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-bubbleGummers.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-kinder.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-mickey.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/chabelo-logo.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/dogi-logo.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/coqueta-logo.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-pirma.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-moderof.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-Siete Leguas.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/Logo-vicenza.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-onena.png"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-charly.png"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-lady.jpg"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
      <div class="slide">
        <img
          src="../../../assets/imagenes/logo-crucero.png"
          height="100"
          width="250"
          alt="Image Responsive"
        />
      </div>
    </div>
  </div>
</div>
